.header {
	background: grey;
	color: white;
	text-align: center;
	padding: 20px;
}

.sidebar{
	width: 30%;
	border: 2px dashed yellow;
	float:left;
	padding: 3%;
	margin-right: 2%;
}

.main{
	width: 50%;
	border: 2px dashed red;
	float:right;
	padding: 2%;
}

.footer {
	background: grey;
	color: white;
	text-align: center;
	padding: 20px;
	clear: both;
}